.footer {
   @include section-paddings(60px, 60px);
   background-color: $dark-background-color;
}
.footer-container {
    display: flex;
    justify-content: baseline;
}
.footer-contacts {
    @extend %list;
    margin-top: 20px;
}
.footer-contacts__item {

    &:not(:last-child) {
            margin-bottom: 9px;
        }

}
.footer-contacts__link {
    @extend %link;
    @include font-style(400, 14px, 1.7);
    font-style: normal;
    display: block;

    color: $footer-link-color;

    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);

    &--white {
        color: $white-color;
    }

    &:hover,
    &:focus {
        color: $accent-color;
        transform: 250ms cubic-bezier(0.4, 0, 0.2, 1);
    }

}

.social-media {
    margin-left: 70px;
    padding-top: 12px;
    
}

.footer-text {
    @include font-style(700, 14px, 1.14);
    text-transform: uppercase;

    color: $white-color;
    margin-bottom: 20px;
}
.footer-soc-med {
    @extend %list;
    display: flex;
}

.soc-med__link {

    &--footer{
    fill: $white-color;
    background-color: rgba(255, 255, 255, 0.1);
   
}
}
.footer-send {
    display: flex;
    margin-left: 93px;
}
.field {
    display: flex;
    flex-direction: column;
}
.field__label {
    @include font-style(700, 14px, 1.14);
    text-transform: uppercase;
    margin-top: 12px;
    margin-bottom: 20px;

    color: $white-color;
}
.field__input {
    @include font-style(400, 16px, 1.25);
    min-width: 358px;
    height: 50px;
    padding: 15px 16px;
    border: 1px solid rgba(255, 255, 255, 0.3);
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
    border-radius: 4px;
    background-color: $dark-background-color;
    color: rgba(255, 255, 255, 0.6);

    transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);

    &:hover,
    &:focus {
        border-color: $accent-color;
        outline: transparent;
    }
    
}

.send-button {
    @extend %button;
    
    margin-left: 12px;
    margin-top: 48px;
}
.send-button__icon {
    margin-left: 10px;
    margin-top: 3px;
}













   
    
    
   

    
    



