.main-page {
    color: $main-text-color;
    background-color: $white-color;

    font-family: Roboto, sans-serif;
    letter-spacing: 0.03em;
}

.container {
    margin-left: auto;
    margin-right: auto;
    width: 1200px;
    padding-left: 15px;
    padding-right: 15px;

}

p,
h1,
h2,
h3 {
    margin-top: 0;
    margin-bottom: 0;
}

.titles {
    @include font-style(700, 36px, 1.2);
    margin-bottom: 50px;
    text-align: center;
       
}