%list {
    list-style: none;
    margin: 0;
    padding: 0;
}

%link {
    text-decoration: none;

    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

%p, %h1, %h2, %h3 {
    margin-top: 0;
    margin-bottom: 0;
}